html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: GothamRoundedMedium; src: url("fonts/GothamRoundedMedium_21022.eot"); src: url("fonts/GothamRoundedMedium_21022.eot?#iefix") format("embedded-opentype"), url("fonts/GothamRoundedMedium_21022.woff2") format("woff2"), url("fonts/GothamRoundedMedium_21022.woff") format("woff"), url("fonts/GothamRoundedMedium_21022.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: GothamRoundedBook; src: url("fonts/GothamRoundedBook_21018.eot"); src: url("fonts/GothamRoundedBook_21018.eot?#iefix") format("embedded-opentype"), url("fonts/GothamRoundedBook_21018.woff2") format("woff2"), url("fonts/GothamRoundedBook_21018.woff") format("woff"), url("fonts/GothamRoundedBook_21018.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.out .modal.error, .out .modal.error.type, .out .modal.select, .out .modal.edit-photo { position: absolute; width: 680px; top: 40%; left: 50%; margin-left: -340px; text-align: center; background-color: #fff; padding: 10px; }
@media only screen and (max-width: 700px) { .out .modal.error, .out .modal.error.type, .out .modal.select, .out .modal.edit-photo { width: 90%; left: 0; margin-left: 2%; } }

.out .modal.error .exit, .out .modal.error.type .exit, .out .modal.select .exit { cursor: pointer; float: right; background: url('../img/icons-s59996f8cfb.png') 0 -194px no-repeat; width: 19px; height: 20px; *zoom: 1; }
.out .modal.error .exit:after, .out .modal.error.type .exit:after, .out .modal.select .exit:after { content: " "; display: table; clear: both; }

.out .modal.error h3, .out .modal.error.type h3, .out .modal.select h3 { font-family: "GothamRoundedMedium"; font-weight: bold; font-size: 22px; color: #00b2a9; margin: 35px 0 25px 0; }

.dots { float: right; }
.dots li { display: inline-block; }
.dots li a i { width: 20px; height: 20px; border: 1px solid #00b2a9; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: inline-block; }
.dots li .is-active i { background: #FFDE00; display: inline-block; }

.blue { width: auto; min-width: 130px; max-height: 32px; background: url('../img/icons-s59996f8cfb.png') 0 -154px no-repeat; width: 22px; height: 30px; background-color: #00b2a9; padding: 0px 20px; color: #fff; font-weight: bold; font-size: 15px; cursor: pointer; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.modal { display: none; }

a { color: white; text-decoration: none; }

.out { width: 100%; min-height: 100%; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ZjNmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c5f3f4)); background-image: -moz-linear-gradient(#ffffff, #c5f3f4); background-image: -webkit-linear-gradient(#ffffff, #c5f3f4); background-image: linear-gradient(#ffffff, #c5f3f4); }
.out .nxt-m { display: none; }
@media only screen and (max-width: 700px) { .out .nxt-m { display: block; margin-top: 20px; width: 100%; } }
.out .header { width: 100%; *zoom: 1; }
.out .header:after { content: " "; display: table; clear: both; }
.out .header__logo { float: left; }
@media only screen and (max-width: 700px) { .out .header__logo { width: 70%; z-index: 999; display: inline-block; margin-top: -71px; } }
.out .header__logo img { display: none; }
@media only screen and (max-width: 700px) { .out .header__logo img { max-width: 100%; height: auto; display: block; } }
.out .header__logo .inn { background: url('../img/icons-s59996f8cfb.png') 0 -490px no-repeat; width: 466px; height: 212px; max-width: 100%; }
@media only screen and (max-width: 700px) { .out .header__logo .inn { display: none; width: 100%; } }
.out .header__logo .inn a { font-family: "GothamRoundedMedium"; font-size: 18px; position: relative; left: 70px; }
@media only screen and (max-width: 700px) { .out .header__logo .inn a { display: none; } }
.out .header__logo .inn a i { background: url('../img/icons-s59996f8cfb.png') 0 -712px no-repeat; width: 172px; height: 101px; display: block; position: relative; right: 5px; }
@media only screen and (max-width: 700px) { .out .header__logo .inn a i { display: none; } }
.out .header__lang { float: right; margin-right: 5%; margin-top: 25px; }
@media only screen and (max-width: 700px) { .out .header__lang { display: none; } }
.out .header__lang ul li { display: inline-block; padding: 0 6px; }
.out .header__lang ul li:nth-child(2) { border-right: 2px solid #00b2a9; border-left: 2px solid #00b2a9; }
.out .header__lang ul li a { color: #00b2a9; font-family: "GothamRoundedMedium"; font-weight: bold; }
@media only screen and (max-height: 700px) { .out .header__lang.m { display: none; } }
@media only screen and (max-width: 700px) { .out .header__lang.m { text-align: center; width: 100%; margin: 65px 0 10px 0; }
  .out .header__lang.m li { text-align: center; width: 26%; }
  .out .header__lang.m li a { font-size: 16px; } }
.out .header__bar { display: none; *zoom: 1; }
.out .header__bar:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .header__bar { display: block; float: right; margin-right: 5%; margin: 30px 5% 0 0; } }
.out .header__humb { display: none; }
.out .header__humb .humb-i { display: block; }
@media only screen and (max-width: 700px) { .out .header__humb .humb-i { padding: 20px 0; margin-right: 5%; float: right; display: block; position: absolute; top: 0; right: 0; }
  .out .header__humb .humb-i div { width: 30px; margin: 4px 0; height: 5px; background: #00b2a9; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; } }
@media only screen and (max-width: 700px) { .out .header__humb { height: 71px; display: block; width: 60%; float: right; background: #85d3cf; *zoom: 1; }
  .out .header__humb:after { content: " "; display: table; clear: both; } }
.out .step { margin: 0 auto; width: 80%; position: relative; right: 55px; *zoom: 1; }
.out .step:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .step { right: 0; } }
.out .step__num { display: inline-block; float: left; height: 100px; }
.out .step__num span { font-family: "GothamRoundedMedium"; font-size: 80px; text-shadow: -2px -2px 3px #b6b179; font-weight: bold; color: #ffde00; }
.out .step__desc { padding-left: 55px; padding-top: 35px; width: 100%; color: #00b2a9; font-family: "GothamRoundedMedium"; *zoom: 1; }
.out .step__desc:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .step__desc { width: 80%; } }
.out .step__desc .about { font-size: 24px; font-weight: bold; }
.out .step__desc .add { font-size: 14px; }
.out .step__desc .bar { width: 40%; float: right; *zoom: 1; }
.out .step__desc .bar:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .step__desc .bar { display: none; } }
.out .step__desc .bar .dots { float: right; }
.out .step__desc .bar .dots li { display: inline-block; }
.out .step__desc .bar .dots li a i { width: 20px; height: 20px; border: 1px solid #00b2a9; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: inline-block; }
.out .step__desc .bar .dots li .is-active i { background: #FFDE00; display: inline-block; }
.out .content { margin: 0 auto; width: 80%; *zoom: 1; }
.out .content:after { content: " "; display: table; clear: both; }
.out .content__greet { margin-top: 15px; *zoom: 1; }
.out .content__greet:after { content: " "; display: table; clear: both; }
.out .content__greet .check { width: 50%; float: left; }
@media only screen and (max-width: 700px) { .out .content__greet .check { width: 100%; } }
@media only screen and (max-width: 700px) { .out .content__greet .check__inn { padding-left: 55px; } }
.out .content__greet .check__inn .hi { color: #00b2a9; font-family: "GothamRoundedMedium"; font-size: 12px; font-weight: bold; list-style-type: disc; }
@media only screen and (max-width: 700px) { .out .content__greet .check__inn .hi { display: none; } }
.out .content__greet .check__inn .hi li { margin-left: 20px; color: #00b2a9; }
.out .content__greet .check__inn .about { width: 100%; margin-bottom: 25px; }
.out .content__greet .check__inn .about p { color: #00b2a9; font-family: "GothamRoundedBook"; font-weight: lighter; }
.out .content__greet .check__inn .box { padding-top: 20px; *zoom: 1; }
.out .content__greet .check__inn .box:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .content__greet .check__inn .box { display: none; } }
.out .content__greet .check__inn .box label { position: relative; margin-left: 30px; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .content__greet .check__inn .box label { margin-left: 0px; } }
.out .content__greet .check__inn .box label input[type="checkbox"] { -webkit-appearance: none; padding: 7px; position: absolute; left: -30px; display: inline-block; border: 1px solid #00b2a9; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .content__greet .check__inn .box label input[type="checkbox"] { left: -40px; } }
.out .content__greet .check__inn .box label input[type="checkbox"]:checked { background-color: #ffde00; }
.out .content__greet .check__inn .box label p { font-family: "GothamRoundedMedium"; color: #00b2a9; display: inline-block; }
.out .content__greet .check__inn .box label p a { color: #005abb; }
.out .content__greet .check__inn .box label p a.rules { border-bottom: 1px solid #b3e9e7; color: #00b2a9; }
.out .content__greet .check__inn .box-m { display: none; }
@media only screen and (max-width: 700px) { .out .content__greet .check__inn .box-m { display: block; }
  .out .content__greet .check__inn .box-m label input[type="checkbox"] { padding: 10px; } }
.out .content__greet .check__inn .box .nxt { display: block; float: left; margin-top: 10px; }
.out .content__greet .video { width: 45%; float: right; text-align: center; *zoom: 1; }
.out .content__greet .video:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .content__greet .video { width: 20%; min-width: 0; position: relative; } }
.out .content__greet .video .inn { width: 100%; }
@media only screen and (max-width: 700px) { .out .content__greet .video .inn { display: none; } }
.out .content__greet .video .inn video { max-width: 100%; height: auto; float: right; }
.out .content__greet .video .nxt { margin-top: 25px; }
@media only screen and (max-width: 700px) { .out .content__greet .video .nxt { position: relative; float: right; margin-top: 157px; display: none; } }
.out .content__video { width: 100%; margin-top: -10px; *zoom: 1; }
@media only screen and (max-width: 700px) { .out .content__video { margin: 0 auto; padding-top: 20px; } }
.out .content__video:after { content: " "; display: table; clear: both; }
.out .content__video .inner { width: 50%; display: inline-block; }
@media only screen and (max-width: 700px) { .out .content__video .inner { width: 70%; padding-left: 15px; } }
.out .content__video .inner video { width: 100%; }
.out .content__header { position: relative; bottom: 25px; }
@media only screen and (max-width: 700px) { .out .content__header { width: 80%; margin-top: 30px; text-align: center; } }
.out .content__header .blue { margin-right: 15px; }
@media only screen and (max-width: 700px) { .out .content__header .blue { display: none; } }
@media only screen and (max-width: 700px) { .out .content__header .blue.fb { margin-right: 0px; } }
@media only screen and (max-width: 435px) { .out .content__header .blue.fb { margin-bottom: 0px; } }
@media only screen and (max-width: 435px) { .out .content__header .blue { margin-bottom: 10px; } }
.out .content .btn-m { display: none; }
@media only screen and (max-width: 700px) { .out .content .btn-m { display: block; width: 100%; *zoom: 1; }
  .out .content .btn-m:after { content: " "; display: table; clear: both; }
  .out .content .btn-m .fb-m { display: inline-block; float: right; height: 30px; width: 48%; background: #00b2a9; color: #fff; font-family: "GothamRoundedMedium"; font-weight: bold; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; }
  .out .content .btn-m .cmr { display: inline-block; float: left; width: 48%; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; } }
.out .content .btn-m span { font-family: "Helvetica", "Arial", sans-serif; font-weight: bold; font-size: 15px; color: #00b2a9; line-height: 36px; }
@media only screen and (max-width: 700px) { .out .content .btn-m span { display: none; } }
.out .content__field { margin: 0 auto; width: 100%; border: 1px solid #d1d1d1; background: #FFF; padding-top: 20px; margin-bottom: 20px; *zoom: 1; }
.out .content__field:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .content__field { width: 100%; background: none; border: 0; text-align: center; } }
.out .content__field .inner { text-align: center; margin-top: 120px; padding-bottom: 70px; }
.out .content__field .inner span { font-family: "GothamRoundedBook"; font-size: 16px; color: #d5d5d5; }
@media only screen and (max-width: 700px) { .out .content__field .inner span { display: none; } }
.out .content__field .item { float: left; padding: 0px 2% 25px 2%; text-align: center; }
@media only screen and (max-width: 700px) { .out .content__field .item { display: inline-block; } }
.out .content__field .item .img { width: 110px; height: 65px; overflow: hidden; margin-bottom: 10px; border: 1px solid #a5a5a5; text-align: center; }
.out .content__field .item .img img { max-width: 100%; height: auto; }
.out .content__field .item .edit { font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #fff; font-weight: bold; -moz-border-radius: 10px / 10px; -webkit-border-radius: 10px 10px; border-radius: 10px / 10px; padding: 5px 15px; background-color: #00b2a9; cursor: pointer; }
.out .content__foo { width: 100%; margin: 0 auto; }
@media only screen and (max-width: 700px) { .out .content__foo { margin-left: 55px; width: 80%; } }
.out .content__foo .blue { margin-right: 15px; }
.out .content__foo .blue.opac { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
@media only screen and (max-width: 700px) { .out .content__foo .blue { display: none; } }
.out .content__foo .cncl { font-family: "Helvetica", "Arial", sans-serif; font-weight: bold; font-size: 15px; color: #6d6d6d; line-height: 36px; text-decoration: underline; background: transparent; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .content__watch { width: 100%; } }
@media only screen and (max-width: 700px) { .out .content__watch video { width: 100%; } }
.out .content__watch video .play { background: url('../img/icons-s59996f8cfb.png') 0 -1159px no-repeat; width: 41px; height: 42px; display: inline-block; }
@media only screen and (max-width: 700px) { .out .content__share { text-align: center; } }
.out .content__share .fb, .out .content__share .tw { display: inline-block; margin: 20px 12px 0px 0px; }
@media only screen and (max-width: 700px) { .out .content__share .fb, .out .content__share .tw { display: none; } }
.out .content__share .fb-m, .out .content__share .tw-m { display: none; }
@media only screen and (max-width: 700px) { .out .content__share .fb-m, .out .content__share .tw-m { margin-top: 10px; width: 20%; display: inline-block; } }
@media only screen and (max-width: 700px) { .out .content__share .fb-m img { max-width: 100%; height: auto; } }
@media only screen and (max-width: 700px) { .out .content__share .tw-m img { max-width: 100%; height: auto; } }
.out .content__share .create { color: #00b2a9; font-family: "GothamRoundedMedium"; font-size: 14px; margin: 20px 0; }
.out .content__share .add { width: 185px; }
@media only screen and (max-width: 700px) { .out .content__share .add { width: 100%; } }
.out .footer { width: 80%; margin: 0 auto; margin-top: 20px; }
@media only screen and (max-width: 700px) { .out .footer { width: 100%; } }
.out .footer ul { text-align: center; }
.out .footer ul li { display: inline-block; padding: 10px 0; }
.out .footer ul li:first-child { float: left; }
@media only screen and (max-width: 700px) { .out .footer ul li:nth-child(2) { border-left: 1px solid #00b2a9; border-right: 1px solid #00b2a9; } }
.out .footer ul li:last-child { padding-right: 0; float: right; }
@media only screen and (max-width: 700px) { .out .footer ul li:last-child { -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; } }
@media only screen and (max-width: 700px) { .out .footer ul li { width: 30%; padding: 0; } }
.out .footer ul a { color: #000; font-family: "GothamRoundedBook"; }
@media only screen and (max-width: 700px) { .out .footer ul a { color: #00b2a9; } }
.out .modal.error .msg { margin: 0 auto; width: 430px; text-align: justify; }
@media only screen and (max-width: 700px) { .out .modal.error .msg { -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; width: 90% !important; } }
.out .modal.error .msg p { font-family: "GothamRoundedBook"; font-size: 16px; color: #00b2a9; }
.out .modal.error .blue { margin: 60px 0 30px 0; width: 180px; }
.out .modal.error.type .msg { width: 430px; }
.out .modal.error.size .msg { width: 505px; }
@media only screen and (max-width: 700px) { .out .modal.error.size .msg { -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; width: 90% !important; } }
.out .modal.select .arr_l, .out .modal.select .arr_r { border: 15px solid transparent; display: inline-block; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .modal.select .arr_l, .out .modal.select .arr_r { display: none; } }
.out .modal.select .arr_l { border-right: 15px solid #3a3a3a; float: left; }
.out .modal.select .arr_r { border-left: 15px solid #3a3a3a; float: right; }
.out .modal.select.photo .photo { width: 165px; height: 165px; border: 1px solid #c5c5c5; display: inline-block; margin: 5px; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .modal.select.photo .photo { display: block; margin: 10px auto; } }
.out .modal.select.album { display: block; }
@media only screen and (max-width: 700px) { .out .modal.select.album h3 { font-size: 14px; text-align: left; margin: 0 0 15px 0; } }
.out .modal.select.album .bot { display: table; width: 100%; padding-top: 15px; text-align: center; }
.out .modal.select.album .bot .arr_l, .out .modal.select.album .bot .arr_r { display: table-cell; vertical-align: middle; margin-top: 65px; }
@media only screen and (max-width: 700px) { .out .modal.select.album .bot .arr_l, .out .modal.select.album .bot .arr_r { display: none; } }
.out .modal.select.album .bot .inn { width: 80%; display: table-cell; vertical-align: middle; }
.out .modal.select.album .bot .inn .cover { float: left; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .modal.select.album .bot .inn .cover { display: block; width: 100%; display: table; vertical-align: middle; text-align: left; margin-bottom: 10px; } }
.out .modal.select.album .bot .inn .cover .photo { width: 165px; height: auto; display: inline-block; margin: 5px; }
@media only screen and (max-width: 700px) { .out .modal.select.album .bot .inn .cover .photo { display: table-cell; width: 40%; vertical-align: middle; } }
.out .modal.select.album .bot .inn .cover .photo img { max-width: 100%; border: 1px solid #c5c5c5; }
.out .modal.select.album .bot .inn .cover .info { font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #5b5b5b; }
@media only screen and (max-width: 700px) { .out .modal.select.album .bot .inn .cover .info { padding-left: 10px; display: table-cell; vertical-align: middle; color: #00b2a9; font-family: "GothamRoundedMedium"; } }
@media only screen and (max-width: 700px) { .out .modal.select.album .bot .inn .cover .info .con { font-weight: normal; font-family: "GothamRoundedBook"; } }
.out .modal.edit-photo { top: 20%; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo { top: 40%; } }
.out .modal.edit-photo .top { width: 100%; padding-top: 15px; *zoom: 1; display: table; text-align: center; }
.out .modal.edit-photo .top:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .top { display: block; } }
.out .modal.edit-photo .top .inn { width: 80%; display: table-cell; vertical-align: middle; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .top .inn { width: 100%; } }
.out .modal.edit-photo .top .inn img { max-width: 100%; border: 1px solid #bdbcbc; }
.out .modal.edit-photo .top .arr_l, .out .modal.edit-photo .top .arr_r { display: table-cell; vertical-align: middle; cursor: pointer; }
.out .modal.edit-photo .top .arr_l .inn { background: url('../img/icons-s59996f8cfb.png') 0 0 no-repeat; width: 30px; height: 67px; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .top .arr_l .inn { float: left; } }
.out .modal.edit-photo .top .arr_r .inn { background: url('../img/icons-s59996f8cfb.png') 0 -77px no-repeat; width: 30px; height: 67px; float: right; }
.out .modal.edit-photo .top div { display: table-cell; vertical-align: middle; }
.out .modal.edit-photo .foo { width: 80%; color: #00b2a9; margin: 0 auto; padding-top: 13px; *zoom: 1; }
.out .modal.edit-photo .foo:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo { width: 100%; } }
.out .modal.edit-photo .foo .inn { float: right; font-family: "GothamRoundedBook"; font-weight: bold; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn { float: none; } }
.out .modal.edit-photo .foo .inn span { margin-left: 10px; }
.out .modal.edit-photo .foo .inn .stats .rate { border: 1px dotted #bdbcbc; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn .stats .rate.m, .out .modal.edit-photo .foo .inn .stats .rate.p { color: #fff; background: #00b2a9; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; font-size: 25px; position: relative; top: 3px; } }
.out .modal.edit-photo .foo .inn .stats .rate.m { padding: 5px 10px; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn .stats .rate.m { padding: 0 9px; } }
.out .modal.edit-photo .foo .inn .stats .rate.p { padding: 5px 8px; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn .stats .rate.p { padding: 0 6px; } }
.out .modal.edit-photo .foo .inn .rotate { display: inline-block; }
.out .modal.edit-photo .foo .inn .rotate span { padding: 5px; border: 1px dotted #bdbcbc; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn .rotate span { background: #00b2a9; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 0; padding: 9px; position: relative; } }
.out .modal.edit-photo .foo .inn .rotate span i { background: url('../img/icons-s59996f8cfb.png') 0 -1237px no-repeat; width: 16px; height: 16px; display: inline-block; position: relative; top: 4px; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn .rotate span i { background: url('../img/icons-s59996f8cfb.png') 0 -1211px no-repeat; width: 16px; height: 16px; } }
.out .modal.edit-photo .foo .inn input { padding: 5px 10px; color: #fff; font-family: "GothamRoundedBook"; font-weight: bold; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background: #00b2a9; margin-left: 10px; cursor: pointer; }
@media only screen and (max-width: 700px) { .out .modal.edit-photo .foo .inn input { height: 30px; max-height: 32px; background: url('../img/icons-s59996f8cfb.png') 0 -154px no-repeat; width: 22px; height: 30px; background-color: #00b2a9; font-size: 15px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin-top: 10px; width: 100%; margin-left: 0; } }
