// Normally mainpage styles
$logo: #ffde00
$text: #00b2a9
=word-wrap() 
	-ms-word-break: break-all
	word-break: break-all
	word-break: break-word
	-webkit-hyphens: auto
	-moz-hyphens: auto
	hyphens: auto

%modal
	position: absolute
	width: 680px
	top: 40%
	left: 50%
	margin-left: -340px
	text-align: center
	background-color: #fff
	padding: 10px
	+r(700)
		// position: relative
		// margin: 0 auto  
		width: 90% 
		left: 0 
		margin-left: 2% 
%exit
	cursor: pointer
	float: right
	+s(close)
	+clr
%modal_header
	font-family: "GothamRoundedMedium"
	font-weight: bold
	font-size: 22px 
	color: $text
	margin: 35px 0 25px 0
.dots
	float: right
	li
		display: inline-block
		a
			i
				width: 20px
				height: 20px
				border: 1px solid $text
				+border-radius(50%) 
				display: inline-block
		.is-active
			i
				background: #FFDE00 	
				display: inline-block
.blue
	width: auto
	min-width: 130px
	max-height: 32px   
	+s(btn_wing)
	// +background-size(contain 0 0)
	background-color: $text
	padding: 0px 20px
	color: #fff
	font-weight: bold
	font-size: 15px 
	cursor: pointer
	+border-radius(10px)
 
.modal
	display: none
a
	color: white
	text-decoration: none 
.out
	.nxt-m
		display: none
		+r(700)
			display: block
			margin-top: 20px 
			width: 100%
	width: 100%
	min-height: 100% 
	+g(#fff, #c5f3f4)
	.header
		width: 100% 
		+clr
		&__logo
			float: left
			+r(700)
				width: 70% 
				z-index: 999
				display: inline-block  	
				margin-top: -71px  
			img
				display: none
				+r(700)
					max-width: 100%
					height: auto
					display: block
			.inn
				+s(hearts)
				max-width: 100% 
				+r(700)
					display: none
					width: 100%
				a
					font-family: "GothamRoundedMedium"
					font-size: 18px 
					position: relative
					left: 70px
					+r(700)
						display: none  
					i
						+s(logo)
						display: block
						position: relative
						right: 5px
						+r(700)
							display: none
		&__lang
			float: right
			margin-right: 5%
			margin-top: 25px 
			+r(700)
				display: none
			ul
				li
					display: inline-block
					padding: 0 6px
					&:nth-child(2)
						border-right: 2px solid $text
						border-left: 2px solid $text
					a
						color: $text
						font-family: "GothamRoundedMedium"
						font-weight: bold 
			&.m
				+rh(700)
					display: none
				+r(700)
					text-align: center
					// display: block
					width: 100% 
					margin: 65px 0 10px 0 
					li
						text-align: center
						width: 26%
						a
							font-size: 16px 
		&__bar
			display: none
			+clr
			+r(700)
				display: block
				float: right
				margin-right: 5%
				margin: 30px 5% 0 0
		&__humb
			.humb-i
				display: block
				+r(700) 
					padding: 20px 0
					margin-right: 5% 
					float: right
					display: block
					position: absolute
					top: 0
					right: 0
					div
						width: 30px
						margin: 4px 0
						height: 5px
						background: $text 
						+border-radius(5px)
			display: none
			+r(700)
				height: 71px 
				display: block
				width: 60%  
				float: right
				background: #85d3cf
				+clr
				.inn

	.step
		margin: 0 auto 
		width: 80% 
		position: relative
		right: 55px 
		+clr
		+r(700)
			right: 0 
		&__num
			display: inline-block
			float: left
			height: 100px
			span
				font-family: "GothamRoundedMedium"
				font-size: 80px
				font-weight: bold 
				color: $logo

		&__desc
			padding-left: 55px
			padding-top: 35px 
			width: 100% 
			color: $text
			font-family: "GothamRoundedMedium"
			+clr
			+r(700)
				width: 80% 
			.about
				font-size: 24px
				font-weight: bold
			.add
				font-size: 14px 

			.bar
				width: 40%
				float: right 
				+clr
				+r(700)
					display: none
				.dots
					float: right
					// position: relative
					// top: 50px 
					li
						display: inline-block
						a
							i
								width: 20px
								height: 20px
								border: 1px solid $text
								+border-radius(50%) 
								display: inline-block
						.is-active
							i
								background: #FFDE00 	
								display: inline-block
	.content
		margin: 0 auto
		width: 80%
		+clr
		&__greet
			margin-top: 15px 
			+clr
			.check
				width: 50% 
				float: left
				+r(700)
					width: 100%
				&__inn
					+r(700)
						padding-left: 55px
					.hi
						color: $text
						font-family: "GothamRoundedMedium"
						font-size: 12px
						font-weight: bold
						list-style-type: disc
						+r(700)
							display: none
						li
							margin-left: 20px 
							color: $text 
					.about
						width: 100%
						margin-bottom: 25px 
						p
							color: $text
							font-family: "GothamRoundedBook"
							font-weight: lighter
					.box
						padding-top: 20px
						+clr
						+r(700)
							display: none 
						label
							position: relative
							margin-left: 30px
							cursor: pointer 
							+r(700)
								margin-left: 0px
							input[type="checkbox"]
								-webkit-appearance: none
								padding: 7px
								position: absolute
								left: -30px
								display: inline-block
								border: 1px solid $text
								+border-radius(50%)
								cursor: pointer 

								+r(700)
									left: -40px 
								&:checked
									background-color: #ffde00 
							p
								font-family: "GothamRoundedMedium"
								color: $text
								display: inline-block
								a
									color: #005abb
								a.rules
									border-bottom: 1px solid #b3e9e7
									color: $text
						&-m
							display: none
							+r(700)
								display: block
								label
									input[type="checkbox"]
										padding: 10px
							
						.nxt
							display: block
							float: left
							margin-top: 10px
			.video
				width: 45% 
				float: right
				text-align: center
				+clr
				+r(700)
					width: 20% 
					min-width: 0 
					position: relative
				.inn
					width: 100%
					+r(700)
						display: none
					video
						max-width: 100%
						height: auto 
						float: right
				.nxt
					margin-top: 25px
					+r(700)
						position: relative
						float: right
						margin-top: 157px 
						// margin-right: 100px
						// top: 85px
						// left: 140px 
						display: none
		&__video
			width: 100%
			margin-top: -10px
			+r(700)
				margin: 0 auto
				padding-top: 20px 
						
			+clr 
			.inner
				width: 50%
				+r(700)
					width: 70%
					padding-left: 15px
				display: inline-block
				video
					width: 100%
		//step2
		&__header
			position: relative
			bottom: 25px
			+r(700)
				width: 80%
				margin-top: 30px
				// padding-left: 55px
				text-align: center
				
			.blue
				margin-right: 15px
				+r(700)
					display: none
				&.fb
					+r(700)
						margin-right: 0px 
					+r(435)
						margin-bottom: 0px   
				+r(435)
					margin-bottom: 10px
		.btn-m
			display: none
			+r(700)
				display: block
				width: 100% 
				+clr
				.fb-m
					display: inline-block
					float: right
					height: 30px
					width: 48% 
					// margin-left: 1%
					background: $text
					color: #fff
					font-family: "GothamRoundedMedium"
					font-weight: bold  
					+border-bottom-right-radius(10px)  
					+border-top-right-radius(10px)
				.cmr
					display: inline-block
					float: left
					width: 48%
					// margin-right: 1% 
					+border-bottom-right-radius(0)  
					+border-top-right-radius(0)  
			span
				font-family: "Helvetica", "Arial", sans-serif
				font-weight: bold
				font-size: 15px 
				color: $text 
				line-height: 36px
				+r(700)
					display: none
		&__field
			margin: 0 auto
			width: 100%
			// min-height: 200px
			// max-height: 600px 
			border: 1px solid #d1d1d1 
			background: #FFF 
			padding-top: 20px 
			margin-bottom: 20px
			+clr 
			+r(700)
				width: 100%
				// margin-left: 55px
				background: none
				border: 0
				text-align: center
			.inner
				text-align: center
				margin-top: 120px
				// min-height: 200px
				padding-bottom: 70px  
				span
					font-family: "GothamRoundedBook" 
					font-size: 16px 
					color: #d5d5d5
					+r(700)
						display: none
			.item
				float: left
				padding: 0px 2% 25px 2%
				text-align: center
				+r(700)
					display: inline-block
				.img
					width: 110px
					height: 65px
					overflow: hidden
					margin-bottom: 10px
					border: 1px solid #a5a5a5
					text-align: center
					img
						max-width: 100%
						height: auto
				.edit
					font-family: Helvetica, Arial, sans-serif
					font-size: 12px
					color: #fff
					font-weight: bold
					+border-radius(10px, 10px)
					padding: 5px 15px
					background-color: $text
					cursor: pointer

		&__foo
			width: 100%
			margin: 0 auto 
			+r(700)
				margin-left: 55px
				width: 80%
			.blue
				margin-right: 15px
				&.opac
					+opacity(.5)
				+r(700)
					display: none
			.cncl
				font-family: "Helvetica", "Arial", sans-serif
				font-weight: bold
				font-size: 15px 
				color: #6d6d6d 
				line-height: 36px
				text-decoration: underline
				background: transparent
				cursor: pointer 
		&__watch
			+r(700)
				width: 100%
			video
				+r(700)
					width: 100% 
				.play
					+s(play)
					display: inline-block
					
		&__share
			+r(700)
				text-align: center 
			.fb, .tw
				display: inline-block
				margin: 20px 12px 0px 0px
				+r(700)
					display: none
			.fb-m, .tw-m
				display: none
				+r(700)
					margin-top: 10px 
					width: 20% 
					display: inline-block
			.fb-m
				+r(700)
					img
						// +s(fb)
						max-width: 100%
						height: auto
						// background: #000
			.tw-m
				+r(700)
					img
						// +s(tw)
						max-width: 100%
						height: auto
						// background: #000
			.create
				color: $text
				font-family: "GothamRoundedMedium"
				font-size: 14px 
				margin: 20px 0
			.add
				width: 185px
				+r(700)
					width: 100%  
	.footer
		width: 80%
		margin: 0 auto
		margin-top: 20px 
		+r(700)
			width: 100% 
		ul
			text-align: center
			li
				display: inline-block
				padding: 10px 0 
				&:first-child
					float: left
				&:nth-child(2)
					+r(700)
						border-left: 1px solid $text
						border-right: 1px solid $text
				&:last-child
					padding-right: 0
					float: right
					+r(700)
						+word-wrap
				+r(700)
					width: 30%
					padding: 0
			a
				color: #000
				font-family: "GothamRoundedBook"
				+r(700)
					color: $text
	.modal.error
		// display: block
		@extend %modal
		.exit
			@extend %exit
		h3
			@extend %modal_header
		.msg
			margin: 0  auto
			width: 430px 
			text-align: justify
			+r(700)
				+word-wrap
				width: 90% !important  
			p
				font-family: "GothamRoundedBook"
				font-size: 16px 
				color: $text
		.blue
			// +s(btn_slg)
			margin: 60px 0 30px 0
			width: 180px 
			+r(700)
				width: 100%

	.modal.error.type
		// display: block
		@extend %modal 
		.exit
			@extend %exit
		h3
			@extend %modal_header
		.msg
			width: 430px
			 
	.modal.error.size
		// display: block
		.msg
			width: 505px
			+r(700)
				+word-wrap
				width: 90% !important
	.modal.select
		@extend %modal
		.exit
			@extend %exit
		h3
			@extend %modal_header
		+r(700)
			h3
				font-size: 14px 
				text-align: left
				margin: 0 0 15px 0
		.arr_l, .arr_r
			border: 15px solid transparent
			display: inline-block
			margin-top: 65px
			cursor: pointer
			+r(700)
				display: none
		.arr_l
			border-right: 15px solid #3a3a3a 
			float: left

		.arr_r
			border-left: 15px solid #3a3a3a 
			float: right

	.modal.select.photo
		// display: block
		+r(700)
			// text-align: center 
		.photo
			width: 165px 
			height: 165px 
			border: 1px solid #c5c5c5
			display: inline-block
			margin: 5px
			cursor: pointer
			+r(700)
				float: left
				height: 65px
				width: 65px 
				border: 1px solid $text
			.inn
				+r(700)
					width: 65px
					height: 65px 

	.modal.select.album
		// display: block
		+r(700)
			h3
				font-size: 14px 
				text-align: left
				margin: 0 0 15px 0
		.bot
			display: table
			// margin: 0 auto
			width: 100% 
			padding-top: 15px 
			// text-align: center
			// vertical-align: middle
			text-align: center
			.arr_l, .arr_r
				display: table-cell 
				vertical-align: middle
				// width: 20%
				+r(700)
					display: none
			.inn
				width: 80% 
				display: table-cell
				vertical-align: middle
				.cover
					// display: inline-block
					float: left
					cursor: pointer
					+r(700)
						display: block
						width: 100% 
						display: table
						vertical-align: middle 
						text-align: left
						margin-bottom: 10px 
					.photo
						width: 165px 
						height: auto
						display: inline-block
						margin: 5px
						+r(700)
							display: table-cell
							width: 40% 
							vertical-align: middle
						img
							max-width: 100%
							border: 1px solid #c5c5c5
							+r(700)
								border: 1px solid $text

					.info
						font-family: Helvetica, Arial, sans-serif
						font-size: 14px  
						font-weight: bold
						color: #5b5b5b
						+r(700)
							padding-left: 10px 
							display: table-cell
							vertical-align: middle
							color: $text
							font-family: "GothamRoundedMedium"
						.con
							+r(700)
								font-weight: normal
								font-family: "GothamRoundedBook"
							 
					
				
	.modal.edit-photo
		// display: block
		
		@extend %modal
		top: 20%
		+r(700)
			top: 40%
		.top
			width: 100%
			padding-top: 15px 
			+clr
			display: table
			text-align: center
			+r(700)
				display: block
			.inn
				width: 80%
				display: table-cell
				vertical-align: middle
				+r(700)
					width: 100%
				img
					max-width: 100%
					border: 1px solid #bdbcbc
			.arr_l, .arr_r
				display: table-cell
				vertical-align: middle
				cursor: pointer
			.arr_l
				.inn
					+s(arr-l)
					+r(700)
						float: left
			.arr_r
				.inn
					+s(arr-r)
					float: right
			div
				display: table-cell
				vertical-align: middle
		.foo
			width: 80% 
			color: $text
			margin: 0 auto
			padding-top: 13px 
			+clr
			+r(700)
				width: 100%
			.inn
				float: right
				font-family: "GothamRoundedBook"
				font-weight: bold
				+r(700)
					float: none
				span
					margin-left: 10px
				.stats
					.rate
						border: 1px dotted #bdbcbc
						cursor: pointer
						+r(700)
							&.m, &.p
								color: #fff
								background: $text
								+border-radius(10px)
								font-size: 25px
								position: relative
								top: 3px 
						&.m
							padding: 5px 10px
							+r(700)
								padding: 0 9px 
						&.p
							padding: 5px 8px
							+r(700)
								padding: 0 6px 
						
				.rotate
					display: inline-block
					span
						padding: 5px
						border: 1px dotted #bdbcbc
						cursor: pointer
						+r(700)
							background: $text
							+border-radius(10px)
							border: 0
							padding: 9px 
							position: relative
						i
							+s(rotate)
							display: inline-block
							position: relative
							top: 4px
							+r(700)
								+s(rotate-w)
				input
					padding: 5px 10px
					color: #fff
					font-family: "GothamRoundedBook"
					font-weight: bold
					+border-radius(20px) 
					background: $text
					margin-left: 10px 
					cursor: pointer
					+r(700)
						height: 30px
						max-height: 32px   
						+s(btn_wing)
						background-color: $text
						font-size: 15px 
						+border-radius(10px) 
						margin-top: 10px 
						width: 100%
						margin-left: 0
						
.wait
	display: table
	position: absolute
	top: 0 
	position: fixed
	width: 100%
	min-height: 100% 
	background: $text
	margin: 0 auto
	text-align: center
	.inn
		display: table-cell 
		vertical-align: middle
		text-align: center
		p
			color: #fff
			font-size: 16px 
			font-family: "GothamRoundedMedium"
		.bar
			display: none
			+r(700)
				display: block
				+clr
				text-align: center
				.dots

					float: none
					li
						display: inline-block
						a
							i
								width: 20px
								height: 20px
								border: 1px solid $text
								background: #FFF 
								+border-radius(50%) 
								display: inline-block
						.is-active
							i
								background: #FFDE00 	
								display: inline-block
		 
	

